<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>考试场次管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--css路径-->
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
</head>
<body>
<!-- 遮罩层 -->
<div id="cover" style="background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: none; z-index: 2 "></div>
    <div id="bodyDiv" style="width: 99%;margin: auto">
         <table class="layui-table" style="text-align: center">
             <thead >
                 <tr>
                     <td>序号</td>
                     <td>科目</td>
                     <td>开始时间</td>
                     <td>结束时间</td>
                     <td>考试地点</td>
                     <td>监考老师</td>
                     <td>操作</td>
                 </tr>
             </thead>
             <tr v-for="(exam,index) in examList">
                 <td>{{index+1}}</td>
                 <td>{{exam.sname}}</td>
                 <td>{{exam.beginTime}}</td>
                 <td>{{exam.endTime}}</td>
                 <td>{{exam.examAddress}}</td>
                 <td>{{exam.uname}}</td>
                 <td><a class="layui-btn layui-btn-xs" @click.prevent="editExam(exam.listId)" >编辑</a>
                     <a class="layui-btn layui-btn-danger layui-btn-xs" @click.prevent="deleteExam(exam.listId)">删除</a></td>
             </tr>
         </table>
        <div id="editDiv"  style="width: 40%; margin: auto; border: 1px solid #999; display: none; position: absolute; top: 30%; left: 30%; z-index: 3; background: #fff">
            <div style="margin:3% auto 3% auto;text-align:center">
                <h2>考试场次信息</h2><hr>
            </div>
            <form class="layui-form" action="" style="margin: auto" @submit.prevent="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">考试科目</label>
                        <div class="layui-input-inline">
                            <select id="subjectId" name="subject" v-model="exam.subjectId" >
                                <option value="">请选择</option>
                                <option v-for="subject in subjects" :value="subject.sId">{{subject.sName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">考试地点</label>
                    <div class="layui-input-inline">
                        <select id="buildNumId" name="buildNum" v-model="buildNum">
                            <option value="">请选择楼栋</option>
                            <option v-for="clas in classes" :value="class.buildNum">{{clas.buildNum}}</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="classroomId" name="classroom" v-model="classroom">
                            <option value="">请选择教室</option>
                            <option v-for="clas in classes" :value="clas.classroom">{{clas.classroom}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">考试时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="beginTime" name="beginTime" v-model="exam.beginTime" placeholder="开始时间">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="endTime" name="endTime" v-model="exam.endTime" placeholder="结束时间">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">监考老师</label>
                        <div class="layui-input-inline">
                            <select id="invigilatorId" name="invigilator" v-model="exam.invigilator">
                                <option value="">请选择</option>
                                <option v-for="user in users" :value="user.userInfo.userid">{{user.userInfo.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button type="button" class="layui-btn layui-btn-primary" @click="closeEditDiv()">关闭</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script src="js/vue.js" charset="utf-8"></script>
<script src="layui/layui.js"></script>
<script>

     var vue = new Vue({
         el:"#bodyDiv",
         data:{
             examList:[],
             exam:{},
             subjects:[],
             users:[],
             classes:[],
             buildNum:'',
             classroom:''
         },
         methods:{
             loadData:function () {
                 var _this = this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/examList",
                     dataType:"json",
                     success:function (data) {
                          _this.examList = data.data;
                     }
                 })
             },
             editExam:function(examId){
                 $('#editDiv').show();  //显示弹窗
                 $('#cover').css('display','block'); //显示遮罩层
                 $('#cover').css('height','100%'); //设置遮罩层的高度为当前页面高度
                 var _this = this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/getExamListById?listId="+examId,
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.exam=data.data;
                             var _index=data.data.examAddress.index("-");
                             _this.buildNum = data.data.examAddress.substr(0,_index);
                             _this.classroom = data.data.examAddress.substr(_index+1);
                             _this.refreshRender();
                         }else{
                             alert("请求错误，请重试");
                         }
                     }
                 })
             },
             closeEditDiv:function(){
                 $('#editDiv').hide();  //隐藏弹窗
                 $('#cover').css('display','none');   //隐藏遮罩层
             },
             deleteExam:function (examId) {
                 var _this = this;
                 if(confirm("确定删除该考试场次吗？") == true){
                     $.ajax({
                         type:"get",
                         url :"http://localhost:8080/examsys/deleteExam?listId="+examId,
                         dataType:"json",
                         success:function (data) {
                             if(data.code == 0){
                                 alert("删除成功");
                                 window.location.reload();
                             }else{
                                 alert(data.data);
                             }
                         }
                     })
                 }else{
                     return false;
                 }
             },
             getSubjects:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/subject/findAll.do",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.subjects = data.data;
                         }
                     }
                 })
             },
             getExamAddress:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/student/getClass.do",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.classes=data.data;
                         }
                     }
                 })
             },
             getInvigilators:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/user/allUser.do?pageSize=999999999",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.users = data.data.list;
                         }
                     }
                 })
             },
             refreshRender:function () {
                 layui.use(['form','laydate'], function(){
                     var form = layui.form
                         ,laydate = layui.laydate;
                     //日期
                     laydate.render({
                         elem: '#beginTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     laydate.render({
                         elem: '#endTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     layui.form.render();
                 });
             }

         },
         created : function(){
             this.loadData();
             this.getSubjects();
             this.getExamAddress();
             this.getInvigilators();
         }

     });

</script>

</body>
</html>