<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>考试场次管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--css路径-->
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
</head>
<body>
<!-- 遮罩层 -->
<div id="cover" style="background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: none; z-index: 2 "></div>
    <div id="bodyDiv" style="width: 99%;margin: auto">
         <table class="layui-table" style="text-align: center">
             <thead >
                 <tr>
                     <th colspan="9">

                         <form id="searchForm" class="layui-form" action="" @submit.prevent="searchExam(1)">
                             <input type="hidden" id="pageNumId" name="pageNum">
                             <input type="hidden" id="pageSizeId" name="pageSize">
                             年级：
                             <div class="layui-inline ">
                                 <select  name="gradeId"  >
                                     <option value="">请选择</option>
                                     <option v-for="grade in grades" :value="grade.gradeId" >{{grade.gradeName}}</option>
                                 </select>
                             </div>
                             科目：
                             <div class="layui-inline">
                                 <select name="subjectId"  >
                                     <option value="">请选择</option>
                                     <option v-for="subject in subjects" :value="subject.sId">{{subject.sName}}</option>
                                 </select>
                             </div>
                             开始时间：
                             <div class="layui-inline">
                                 <div class="layui-input-inline">
                                     <input type="text" class="layui-input" id="searchBeginTime" name="beginTime"  placeholder="开始时间">
                                 </div>
                                 <div class="layui-input-inline">
                                     <input type="text" class="layui-input" id="searchEndTime" name="endTime" placeholder="结束时间">
                                 </div>
                             </div>
                             <button type="submit" class="layui-btn">搜索</button>
                             <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                             <button type="button" class="layui-btn layui-btn-normal"
                                     @click="showExamAddDiv()">添加考试</button>
                         </form>

                     </th>
                 </tr>
                 <tr>
                     <td>序号</td>
                     <td>年级</td>
                     <td>科目</td>
                     <td>开始时间</td>
                     <td>结束时间</td>
                     <td>考试地点</td>
                     <td>试卷名称</td>
                     <td>监考老师</td>
                     <td>操作</td>
                 </tr>
             </thead>
             <tbody id="tbodyId">
             <tr v-for="(exam,index) in examList">
                 <td>{{index+1}}</td>
                 <td>{{exam.gradeName}}</td>
                 <td>{{exam.sname}}</td>
                 <td>{{exam.beginTime}}</td>
                 <td>{{exam.endTime}}</td>
                 <td>{{exam.examAddress}}</td>
                 <td>{{exam.paperName}}</td>
                 <td>{{exam.uname}}</td>
                 <td><a class="layui-btn layui-btn-xs" @click.prevent="showEditExamDiv(exam.listId)" >编辑</a>
                     <a class="layui-btn layui-btn-danger layui-btn-xs" @click.prevent="deleteExam(exam.listId)">删除</a></td>
             </tr>
             </tbody>
         </table>
        <div id="pageDiv" style="margin-top: -20px;float: right"></div>
        <div id="editDiv"  style="width: 40%; margin: auto; border: 1px solid #999; display: none; position: absolute; top: 20%; left: 30%; z-index: 3; background: #fff">
            <div style="margin:3% auto 3% auto;text-align:center">
                <h2>考试场次信息</h2><hr>
            </div>
            <form id="examForm" class="layui-form" action="" style="margin: auto" @submit.prevent="editExam(exam.listId)">
                <input type="hidden" name="userId" value="">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-inline">
                            <select id="gradeId" name="gradeId" v-model="exam.gradeId" >
                                <option value="">请选择</option>
                                <option v-for="grade in grades" :value="grade.gradeId" >{{grade.gradeName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">考试科目</label>
                        <div class="layui-input-inline">
                            <select id="subjectId" name="subjectId" v-model="exam.subjectId" >
                                <option value="">请选择</option>
                                <option v-for="subject in subjects" :value="subject.sId">{{subject.sName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">试卷名称</label>
                        <div class="layui-input-inline">
                            <select id="paperId" name="paperId" v-model="exam.paperId" >
                                <option value="">请选择</option>
                                <option v-for="pape in papers" :value="pape.paperId">{{pape.paperName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">考试地点</label>
                    <div class="layui-input-inline">
                        <select id="buildNumId" name="buildNum" v-model="buildNum">
                            <option value="">请选择楼栋</option>
                            <option v-for="cla in classList" :value="cla.buildNum">{{cla.buildNum}}</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="classroomId" name="classroom" v-model="classroom">
                            <option value="">请选择教室</option>
                            <option v-for="cla in classList" :value="cla.classroom">{{cla.classroom}}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">考试时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="beginTime" name="beginTime" v-model="exam.beginTime" placeholder="开始时间">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="endTime" name="endTime" v-model="exam.endTime" placeholder="结束时间">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">监考老师</label>
                        <div class="layui-input-inline">
                            <select id="invigilatorId" name="invigilator" v-model="exam.invigilator">
                                <option value="">请选择</option>
                                <option v-for="user in users" :value="user.userInfo.userid">{{user.userInfo.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        <button type="button" class="layui-btn layui-btn-primary" @click="closeEditDiv()">关闭</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script src="js/vue.js" charset="utf-8"></script>
<script src="layui/layui.js"></script>
<script>

     var vue = new Vue({
         el:"#bodyDiv",
         data:{
             examList:[],
             exam:{},
             subjects:[],
             users:[],
             classList:[],
             grades:[],
             papers:[],
             buildNum:'',
             classroom:'',
             dataCount:'',
             pageNum:''
         },
         methods:{
             searchExam:function(obj){
                 if(obj == 1){
                     $("#pageNumId").val("1")
                     this.pageNum = 1;
                     this.getDataCount();
                 }
                 var _this = this;
                 $.ajax({
                     type:"post",
                     url:"http://localhost:8080/examsys/examList",
                     data:$("#searchForm").serialize(),
                     dataType:"json",
                     success:function (data) {
                         _this.examList = data.data;
                     }
                 })
             },
             showEditExamDiv:function(examId){
                 var _this = this;
                 _this.showEditDiv();
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/getExamListById?listId="+examId,
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.exam=data.data;
                             var _index=data.data.examAddress.toString().indexOf("-")
                             _this.buildNum = data.data.examAddress.toString().substring(0,_index);
                             _this.classroom = data.data.examAddress.toString().substring(_index+1);

                         }else{
                             alert("请求错误，请重试");
                         }
                     }
                 })
             },
             deleteExam:function (examId) {
                 var _this = this;
                 if(confirm("确定删除该考试场次吗？") == true){
                     $.ajax({
                         type:"get",
                         url :"http://localhost:8080/examsys/deleteExam?listId="+examId,
                         dataType:"json",
                         success:function (data) {
                             if(data.code == 0){
                                 alert("删除成功");
                                 _this.searchExam();
                                // window.location.reload();
                             }else{
                                 alert(data.data);
                             }
                         }
                     })
                 }else{
                     return false;
                 }
             },
             showExamAddDiv:function(){
                 var _this = this;
                 _this.showEditDiv();
                _this.exam={};
                 _this.buildNum='';
                 _this.classroom='';
                 $('form')[1].reset();
             },
             editExam:function(examId){
               var _this = this;
               var url="";
               var formJson = this.getFormJson();
               if(examId == null){
                   url="http://localhost:8080/examsys/addExam";
               }else{
                   url="http://localhost:8080/examsys/updateExam";
               }
               $.ajax({
                   type:"post",
                   url:url,
                   data:formJson,
                   dataType:"json",
                   success:function (data) {
                       if(data.code == 0){
                           if(confirm(data.data+"，是否继续") == false){
                               _this.closeEditDiv();
                           }
                       }else{
                           alert(data.data);
                       }
                   }
               })
             },
             getSubjects:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/subject/findAll.do?page=1&limit=999999999",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.subjects = data.data;
                         }
                     }
                 })
             },
             getGrades:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/getGradeList",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.grades = data.data;
                         }
                     }
                 })
             },
             getExamAddress:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/student/getClass.do",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.classList=data.data;
                         }
                     }
                 })
             },
             getInvigilators:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/user/allUser.do?pageSize=999999999",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.users = data.data;
                         }
                     }
                 })
             },
             getPapers:function () {
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/getPaperList",
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.papers = data.data;
                         }
                     }
                 })
             },
             getDataCount:function(){
                 var _this= this;
                 $.ajax({
                     type:"get",
                     url:"http://localhost:8080/examsys/getDataCount",
                     data:$("#searchForm").serialize(),
                     dataType:"json",
                     success:function (data) {
                         if(data.code == 0){
                             _this.dataCount = data.data;
                         }
                     }
                 });
             },
             getFormJson:function(){
                 var formJson = {
                     "listId":this.exam.listId,
                     "operatorId":0,
                     "beginTime":$("#beginTime").val(),
                     "endTime":$("#endTime").val(),
                     "subjectId":$("#subjectId").val(),
                     "examAddress": $("#buildNumId").val()+"-"+$("#classroomId").val(),
                     "invigilator":$("#invigilatorId").val(),
                     "gradeId":$("#gradeId").val(),
                     "paperId":$("#paperId").val()
                 };
                 return formJson;
             },
             showEditDiv:function(){
                 $('#editDiv').show();  //显示弹窗
                 $('#cover').css('display','block'); //显示遮罩层
                 $('#cover').css('height','100%'); //设置遮罩层的高度为当前页面高度
             },
             closeEditDiv:function(){
                 $('#editDiv').hide();  //隐藏弹窗
                 $('#cover').css('display','none');   //隐藏遮罩层
                 this.searchExam();
             },
             formRender:function () {
                 var _this = this;
                 layui.use(['form','laydate','laypage'], function(){
                     var form = layui.form
                         ,laydate = layui.laydate
                         ,laypage = layui.laypage;
                     //日期
                     laydate.render({
                         elem: '#beginTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     laydate.render({
                         elem: '#endTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     laydate.render({
                         elem: '#searchBeginTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     laydate.render({
                         elem: '#searchEndTime',
                         type: 'datetime',
                         format:'yyyy-MM-dd HH:mm'
                     });
                     laypage.render({
                         elem: 'pageDiv'
                         ,count: _this.dataCount
                         ,limit:2
                         ,curr:_this.pageNum
                         ,theme: '#1E9FFF'
                         ,layout: ['count', 'prev', 'page', 'next']
                         ,jump: function (obj, first) {
                             //console.log(obj)
                             //obj包含了当前分页的所有参数，比如：
                             //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                             //console.log(obj.limit); //得到每页显示的条数
                             //首次不执行
                             if (!first) {
                                 $("#pageNumId").val(obj.curr);
                                 $("#pageSizeId").val(obj.limit);
                                 _this.searchExam();
                                 _this.pageNum = $("#pageNumId").val();
                                 //do something
                                 //numpage(obj.curr, obj.limit)  // 分页点击传参
                             }
                         }
                     });
                     layui.form.render();
                 });
             }

         },
         created : function(){
             this.searchExam();
             this.getGrades();
             this.getPapers();
             this.getSubjects();
             this.getDataCount();
             this.getExamAddress();
             this.getInvigilators();
             this.formRender();
         },
         updated:function(){
             this.formRender();
         }

     });

</script>

</body>
</html>