<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加考生</title>
</head>
<script type="text/javascript" src="/examsys/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="/examsys/js/vue.js"></script>
<body>

    <form id="form" action="../student/addStu.do" method="post">
        学号：<input type="text" name="stuNum" value=""/><br />
        姓名：<input type="text" name="stuName" value=""/><br />
        密码：<input type="text" name="stuPwd" value=""/><br />
        性别<input type="text" name="stuGender" value=""/><br />
        身份证号：<input type="text" name="stuIdnum" value=""/><br />
        班级：
        <select id="options" name="classId">

        </select>

        <input type="submit" value="更新">
    </form>

</body>
<!--<script type="text/javascript" >-->
<!--    var vue = new Vue({-->
<!--        el:"#form",-->
<!--        data:{-->
<!--            msg:"",-->
<!--            // mytitle:"haha",-->

<!--        },-->
<!--        methods:{-->

<!--            getUpdateInfo(){-->
<!--                $.ajax({-->
<!--                    type:"get",-->
<!--                    url:"getUpdateInfo.do",-->
<!--                    dataType:"json",-->
<!--                    success:function (data) {-->
<!--                        this.msg=data.data;-->
<!--                    }-->
<!--                })-->
<!--            }-->

<!--        },-->

<!--        created(){-->
<!--            this.getUpdateInfo();-->
<!--        }-->

<!--    })-->

<!--</script>-->

<!--<script type="text/javascript">-->
<!--    $(function () {-->
<!--        $.ajax({-->
<!--            type:"get",-->
<!--            url:"goToUpdate.do",-->
<!--            dataType:"json",-->
<!--            success:function (data) {-->
<!--                if (data.code == 0){-->
<!--                    $("input").val(data.data);-->
<!--                }-->
<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->

</html>
