<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damo.examsys.dao.ExamListDao">

    <select id="getExamList" resultType="examList">
        SELECT list_id,begin_time,end_time,subject_id,exam_address,Invigilator,grade_id
          FROM exam_list
    </select>

</mapper>