<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
dao层接口的全限定名和namespace一样
dao层接口中的方法名和映射文件中增删改查配置的statement id一致
方法的参数和配置的输入参数保持一致
方法的返回值类型和配置中返回类型保持一致
 -->
<mapper namespace="com.damo.examsys.dao.QuesTypeDao">

    <resultMap id="typeMap" type="quesType">
        <id property="quesTypeId" column="tId"/>
        <result property="quesTypeName" column="tName"/>
        <result property="remark" column="remark"/>
    </resultMap>


    <select id="findAll" parameterType="string" resultMap="typeMap">
        select * from questions_type
    </select>

    <select id="findByName" parameterType="string" resultMap="typeMap">
        select * from questions_type where tName = #{quesTypeName}
    </select>

    <select id="findById" resultMap="typeMap" parameterType="integer">
        select * from questions_type where tId = #{quesTypeId}
    </select>

    <update id="update" parameterType="quesType">
        update questions_type set tName = #{quesTypeName}, remark = #{remark} where tId = #{quesTypeId}
    </update>

    <insert id="add" parameterType="quesType">
        insert into questions_type values (null, #{quesTypeName}, #{remark})
    </insert>

    <delete id="deleteById" parameterType="integer">
        delete from questions_type where tId = #{quesTypeId}
    </delete>

</mapper>
