<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damo.examsys.dao.RoleDao">
    <select id="findAllRole" resultType="role">
        select * from t_role
    </select>
    <insert id="updateUserRole" parameterType="list">
        insert into t_user_role   (urid,uid,rid)
        values
        <foreach  collection="list" item="item" index="index" separator=",">
            (   (SELECT nullif ((SELECT urid FROM t_user_role t2 WHERE t2.uid = #{item.uid} and t2.rid =  #{item.rid}),null))
                ,
                #{item.uid},
                #{item.rid}
            )
        </foreach>
        ON duplicate KEY UPDATE is_deleted = 0

    </insert>
    <update id="deleteUserRoleByUserId" parameterType="int">
        update t_user_role set is_deleted =1 where uid = #{uid}
    </update>
</mapper>