<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damo.examsys.dao.StudentDao">

    <resultMap id="stuMapper" type="student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_gender" property="stuGender"/>
        <result column="stu_idnum" property="stuIdnum"/>
        <association property="stuInfo" javaType="stuInfo">
            <result column="begin_time" property="beginTime"/>
            <result column="end_time" property="endTime"/>
            <result column="exam_address" property="examAddress"/>
            <association property="subject" javaType="subject">
                <result column="sName" property="sName" />
            </association>
        </association>

    </resultMap>

    <select id="findStuByNum" resultMap="stuMapper">
        SELECT s.stu_num,s.stu_name,s.stu_gender,s.stu_idnum,e.begin_time,e.end_time,e.exam_address,su.sName
        from student s,exam_list e,subject su
        where e.subject_id=su.sId and s.stu_num=#{stuNum}
    </select>

    <insert id="addStudent" parameterType="student">
        INSERT INTO student(stu_num,stu_name,stu_pwd,stu_gender,stu_idnum,class_id) VALUES(#{stuNum},#{stuName},#{stuPwd},#{stuGender},#{stuIdnum},#{classId})
    </insert>

    <select id="classList" resultType="com.damo.examsys.entity.Class">
        select * from class
    </select>

</mapper>