<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damo.examsys.dao.UserDao">
    <resultMap id="userMap" type="user">
        <id column="uid" property="uid"/>
        <result column="uname" property="uname"/>
        <result column="password" property="password"/>
        <association property="userInfo" javaType="userInfo">
            <id column="userinfoid" property="userinfoid"/>
            <result column="name" property="name"/>
            <result column="userid" property="userid"/>
            <result column="sex" property="sex"/>
        </association>
        <collection property="roleList" ofType="role"
                    javaType="java.util.ArrayList" select="getRoleList"
                    column="uid">
        </collection>
    </resultMap>
    <select id="findAllUser" resultMap="userMap">
        select * from t_user tu
        inner join t_userinfo on userid = tu.uid where tu.is_deleted = #{isDeleted}
    </select>
    <select id="getRoleList" resultType="role">
        select tr.rid,rname,rdesc from t_role tr
        left join t_user_role tur on tr.rid = tur.rid
				WHERE tur.uid = #{uid} and tur.is_deleted = 0
				ORDER BY rid
    </select>
    <update id="updateUserInfo" parameterType="hashmap">
        update t_userinfo tui
        <trim prefix="set" suffixOverrides=",">
            <if test="userInfoname != null">tui.name = #{userInfoname},</if>
            <if test="userInfosex != null" >tui.sex = #{userInfosex},</if>
        </trim>
        WHERE tui.userinfoid=#{userInfouserinfoid}
    </update>
    <update id="deleteUserById" parameterType="int">
        update t_user set is_deleted = #{isDeleted} where uid = #{uid}
    </update>
    <update id="deleteUserByIds" >
        update t_user set is_deleted = #{isDeleted} where uid in
        <foreach collection="array" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <select id="findUserInfoByUid" resultType="userInfo">
        select * from t_userinfo where userid= #{uid}
    </select>
</mapper>